html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.advanced-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .advanced-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .advanced-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .advanced-container {
        width: 1170px;
    }
}
.advanced-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.advanced-row {
    margin-left: -15px;
    margin-right: -15px;
}
.advanced-col-xs-1, .advanced-col-sm-1, .advanced-col-md-1, .advanced-col-lg-1, .advanced-col-xs-2, .advanced-col-sm-2, .advanced-col-md-2, .advanced-col-lg-2, .advanced-col-xs-3, .advanced-col-sm-3, .advanced-col-md-3, .advanced-col-lg-3, .advanced-col-xs-4, .advanced-col-sm-4, .advanced-col-md-4, .advanced-col-lg-4, .advanced-col-xs-5, .advanced-col-sm-5, .advanced-col-md-5, .advanced-col-lg-5, .advanced-col-xs-6, .advanced-col-sm-6, .advanced-col-md-6, .advanced-col-lg-6, .advanced-col-xs-7, .advanced-col-sm-7, .advanced-col-md-7, .advanced-col-lg-7, .advanced-col-xs-8, .advanced-col-sm-8, .advanced-col-md-8, .advanced-col-lg-8, .advanced-col-xs-9, .advanced-col-sm-9, .advanced-col-md-9, .advanced-col-lg-9, .advanced-col-xs-10, .advanced-col-sm-10, .advanced-col-md-10, .advanced-col-lg-10, .advanced-col-xs-11, .advanced-col-sm-11, .advanced-col-md-11, .advanced-col-lg-11, .advanced-col-xs-12, .advanced-col-sm-12, .advanced-col-md-12, .advanced-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.advanced-col-xs-1, .advanced-col-xs-2, .advanced-col-xs-3, .advanced-col-xs-4, .advanced-col-xs-5, .advanced-col-xs-6, .advanced-col-xs-7, .advanced-col-xs-8, .advanced-col-xs-9, .advanced-col-xs-10, .advanced-col-xs-11, .advanced-col-xs-12 {
    float: left;
}
.advanced-col-xs-12 {
    width: 100%;
}
.advanced-col-xs-11 {
    width: 91.66666667%;
}
.advanced-col-xs-10 {
    width: 83.33333333%;
}
.advanced-col-xs-9 {
    width: 75%;
}
.advanced-col-xs-8 {
    width: 66.66666667%;
}
.advanced-col-xs-7 {
    width: 58.33333333%;
}
.advanced-col-xs-6 {
    width: 50%;
}
.advanced-col-xs-5 {
    width: 41.66666667%;
}
.advanced-col-xs-4 {
    width: 33.33333333%;
}
.advanced-col-xs-3 {
    width: 25%;
}
.advanced-col-xs-2 {
    width: 16.66666667%;
}
.advanced-col-xs-1 {
    width: 8.33333333%;
}
.advanced-col-xs-pull-12 {
    right: 100%;
}
.advanced-col-xs-pull-11 {
    right: 91.66666667%;
}
.advanced-col-xs-pull-10 {
    right: 83.33333333%;
}
.advanced-col-xs-pull-9 {
    right: 75%;
}
.advanced-col-xs-pull-8 {
    right: 66.66666667%;
}
.advanced-col-xs-pull-7 {
    right: 58.33333333%;
}
.advanced-col-xs-pull-6 {
    right: 50%;
}
.advanced-col-xs-pull-5 {
    right: 41.66666667%;
}
.advanced-col-xs-pull-4 {
    right: 33.33333333%;
}
.advanced-col-xs-pull-3 {
    right: 25%;
}
.advanced-col-xs-pull-2 {
    right: 16.66666667%;
}
.advanced-col-xs-pull-1 {
    right: 8.33333333%;
}
.advanced-col-xs-pull-0 {
    right: auto;
}
.advanced-col-xs-push-12 {
    left: 100%;
}
.advanced-col-xs-push-11 {
    left: 91.66666667%;
}
.advanced-col-xs-push-10 {
    left: 83.33333333%;
}
.advanced-col-xs-push-9 {
    left: 75%;
}
.advanced-col-xs-push-8 {
    left: 66.66666667%;
}
.advanced-col-xs-push-7 {
    left: 58.33333333%;
}
.advanced-col-xs-push-6 {
    left: 50%;
}
.advanced-col-xs-push-5 {
    left: 41.66666667%;
}
.advanced-col-xs-push-4 {
    left: 33.33333333%;
}
.advanced-col-xs-push-3 {
    left: 25%;
}
.advanced-col-xs-push-2 {
    left: 16.66666667%;
}
.advanced-col-xs-push-1 {
    left: 8.33333333%;
}
.advanced-col-xs-push-0 {
    left: auto;
}
.advanced-col-xs-offset-12 {
    margin-left: 100%;
}
.advanced-col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.advanced-col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.advanced-col-xs-offset-9 {
    margin-left: 75%;
}
.advanced-col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.advanced-col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.advanced-col-xs-offset-6 {
    margin-left: 50%;
}
.advanced-col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.advanced-col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.advanced-col-xs-offset-3 {
    margin-left: 25%;
}
.advanced-col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.advanced-col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.advanced-col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    .advanced-col-sm-1, .advanced-col-sm-2, .advanced-col-sm-3, .advanced-col-sm-4, .advanced-col-sm-5, .advanced-col-sm-6, .advanced-col-sm-7, .advanced-col-sm-8, .advanced-col-sm-9, .advanced-col-sm-10, .advanced-col-sm-11, .advanced-col-sm-12 {
        float: left;
    }
    .advanced-col-sm-12 {
        width: 100%;
    }
    .advanced-col-sm-11 {
        width: 91.66666667%;
    }
    .advanced-col-sm-10 {
        width: 83.33333333%;
    }
    .advanced-col-sm-9 {
        width: 75%;
    }
    .advanced-col-sm-8 {
        width: 66.66666667%;
    }
    .advanced-col-sm-7 {
        width: 58.33333333%;
    }
    .advanced-col-sm-6 {
        width: 50%;
    }
    .advanced-col-sm-5 {
        width: 41.66666667%;
    }
    .advanced-col-sm-4 {
        width: 33.33333333%;
    }
    .advanced-col-sm-3 {
        width: 25%;
    }
    .advanced-col-sm-2 {
        width: 16.66666667%;
    }
    .advanced-col-sm-1 {
        width: 8.33333333%;
    }
    .advanced-col-sm-pull-12 {
        right: 100%;
    }
    .advanced-col-sm-pull-11 {
        right: 91.66666667%;
    }
    .advanced-col-sm-pull-10 {
        right: 83.33333333%;
    }
    .advanced-col-sm-pull-9 {
        right: 75%;
    }
    .advanced-col-sm-pull-8 {
        right: 66.66666667%;
    }
    .advanced-col-sm-pull-7 {
        right: 58.33333333%;
    }
    .advanced-col-sm-pull-6 {
        right: 50%;
    }
    .advanced-col-sm-pull-5 {
        right: 41.66666667%;
    }
    .advanced-col-sm-pull-4 {
        right: 33.33333333%;
    }
    .advanced-col-sm-pull-3 {
        right: 25%;
    }
    .advanced-col-sm-pull-2 {
        right: 16.66666667%;
    }
    .advanced-col-sm-pull-1 {
        right: 8.33333333%;
    }
    .advanced-col-sm-pull-0 {
        right: auto;
    }
    .advanced-col-sm-push-12 {
        left: 100%;
    }
    .advanced-col-sm-push-11 {
        left: 91.66666667%;
    }
    .advanced-col-sm-push-10 {
        left: 83.33333333%;
    }
    .advanced-col-sm-push-9 {
        left: 75%;
    }
    .advanced-col-sm-push-8 {
        left: 66.66666667%;
    }
    .advanced-col-sm-push-7 {
        left: 58.33333333%;
    }
    .advanced-col-sm-push-6 {
        left: 50%;
    }
    .advanced-col-sm-push-5 {
        left: 41.66666667%;
    }
    .advanced-col-sm-push-4 {
        left: 33.33333333%;
    }
    .advanced-col-sm-push-3 {
        left: 25%;
    }
    .advanced-col-sm-push-2 {
        left: 16.66666667%;
    }
    .advanced-col-sm-push-1 {
        left: 8.33333333%;
    }
    .advanced-col-sm-push-0 {
        left: auto;
    }
    .advanced-col-sm-offset-12 {
        margin-left: 100%;
    }
    .advanced-col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .advanced-col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .advanced-col-sm-offset-9 {
        margin-left: 75%;
    }
    .advanced-col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .advanced-col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .advanced-col-sm-offset-6 {
        margin-left: 50%;
    }
    .advanced-col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .advanced-col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .advanced-col-sm-offset-3 {
        margin-left: 25%;
    }
    .advanced-col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .advanced-col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .advanced-col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .advanced-col-md-1, .advanced-col-md-2, .advanced-col-md-3, .advanced-col-md-4, .advanced-col-md-5, .advanced-col-md-6, .advanced-col-md-7, .advanced-col-md-8, .advanced-col-md-9, .advanced-col-md-10, .advanced-col-md-11, .advanced-col-md-12 {
        float: left;
    }
    .advanced-col-md-12 {
        width: 100%;
    }
    .advanced-col-md-11 {
        width: 91.66666667%;
    }
    .advanced-col-md-10 {
        width: 83.33333333%;
    }
    .advanced-col-md-9 {
        width: 75%;
    }
    .advanced-col-md-8 {
        width: 66.66666667%;
    }
    .advanced-col-md-7 {
        width: 58.33333333%;
    }
    .advanced-col-md-6 {
        width: 50%;
    }
    .advanced-col-md-5 {
        width: 41.66666667%;
    }
    .advanced-col-md-4 {
        width: 33.33333333%;
    }
    .advanced-col-md-3 {
        width: 25%;
    }
    .advanced-col-md-2 {
        width: 16.66666667%;
    }
    .advanced-col-md-1 {
        width: 8.33333333%;
    }
    .advanced-col-md-pull-12 {
        right: 100%;
    }
    .advanced-col-md-pull-11 {
        right: 91.66666667%;
    }
    .advanced-col-md-pull-10 {
        right: 83.33333333%;
    }
    .advanced-col-md-pull-9 {
        right: 75%;
    }
    .advanced-col-md-pull-8 {
        right: 66.66666667%;
    }
    .advanced-col-md-pull-7 {
        right: 58.33333333%;
    }
    .advanced-col-md-pull-6 {
        right: 50%;
    }
    .advanced-col-md-pull-5 {
        right: 41.66666667%;
    }
    .advanced-col-md-pull-4 {
        right: 33.33333333%;
    }
    .advanced-col-md-pull-3 {
        right: 25%;
    }
    .advanced-col-md-pull-2 {
        right: 16.66666667%;
    }
    .advanced-col-md-pull-1 {
        right: 8.33333333%;
    }
    .advanced-col-md-pull-0 {
        right: auto;
    }
    .advanced-col-md-push-12 {
        left: 100%;
    }
    .advanced-col-md-push-11 {
        left: 91.66666667%;
    }
    .advanced-col-md-push-10 {
        left: 83.33333333%;
    }
    .advanced-col-md-push-9 {
        left: 75%;
    }
    .advanced-col-md-push-8 {
        left: 66.66666667%;
    }
    .advanced-col-md-push-7 {
        left: 58.33333333%;
    }
    .advanced-col-md-push-6 {
        left: 50%;
    }
    .advanced-col-md-push-5 {
        left: 41.66666667%;
    }
    .advanced-col-md-push-4 {
        left: 33.33333333%;
    }
    .advanced-col-md-push-3 {
        left: 25%;
    }
    .advanced-col-md-push-2 {
        left: 16.66666667%;
    }
    .advanced-col-md-push-1 {
        left: 8.33333333%;
    }
    .advanced-col-md-push-0 {
        left: auto;
    }
    .advanced-col-md-offset-12 {
        margin-left: 100%;
    }
    .advanced-col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .advanced-col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .advanced-col-md-offset-9 {
        margin-left: 75%;
    }
    .advanced-col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .advanced-col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .advanced-col-md-offset-6 {
        margin-left: 50%;
    }
    .advanced-col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .advanced-col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .advanced-col-md-offset-3 {
        margin-left: 25%;
    }
    .advanced-col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .advanced-col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .advanced-col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .advanced-col-lg-1, .advanced-col-lg-2, .advanced-col-lg-3, .advanced-col-lg-4, .advanced-col-lg-5, .advanced-col-lg-6, .advanced-col-lg-7, .advanced-col-lg-8, .advanced-col-lg-9, .advanced-col-lg-10, .advanced-col-lg-11, .advanced-col-lg-12 {
        float: left;
    }
    .advanced-col-lg-12 {
        width: 100%;
    }
    .advanced-col-lg-11 {
        width: 91.66666667%;
    }
    .advanced-col-lg-10 {
        width: 83.33333333%;
    }
    .advanced-col-lg-9 {
        width: 75%;
    }
    .advanced-col-lg-8 {
        width: 66.66666667%;
    }
    .advanced-col-lg-7 {
        width: 58.33333333%;
    }
    .advanced-col-lg-6 {
        width: 50%;
    }
    .advanced-col-lg-5 {
        width: 41.66666667%;
    }
    .advanced-col-lg-4 {
        width: 33.33333333%;
    }
    .advanced-col-lg-3 {
        width: 25%;
    }
    .advanced-col-lg-2 {
        width: 16.66666667%;
    }
    .advanced-col-lg-1 {
        width: 8.33333333%;
    }
    .advanced-col-lg-pull-12 {
        right: 100%;
    }
    .advanced-col-lg-pull-11 {
        right: 91.66666667%;
    }
    .advanced-col-lg-pull-10 {
        right: 83.33333333%;
    }
    .advanced-col-lg-pull-9 {
        right: 75%;
    }
    .advanced-col-lg-pull-8 {
        right: 66.66666667%;
    }
    .advanced-col-lg-pull-7 {
        right: 58.33333333%;
    }
    .advanced-col-lg-pull-6 {
        right: 50%;
    }
    .advanced-col-lg-pull-5 {
        right: 41.66666667%;
    }
    .advanced-col-lg-pull-4 {
        right: 33.33333333%;
    }
    .advanced-col-lg-pull-3 {
        right: 25%;
    }
    .advanced-col-lg-pull-2 {
        right: 16.66666667%;
    }
    .advanced-col-lg-pull-1 {
        right: 8.33333333%;
    }
    .advanced-col-lg-pull-0 {
        right: auto;
    }
    .advanced-col-lg-push-12 {
        left: 100%;
    }
    .advanced-col-lg-push-11 {
        left: 91.66666667%;
    }
    .advanced-col-lg-push-10 {
        left: 83.33333333%;
    }
    .advanced-col-lg-push-9 {
        left: 75%;
    }
    .advanced-col-lg-push-8 {
        left: 66.66666667%;
    }
    .advanced-col-lg-push-7 {
        left: 58.33333333%;
    }
    .advanced-col-lg-push-6 {
        left: 50%;
    }
    .advanced-col-lg-push-5 {
        left: 41.66666667%;
    }
    .advanced-col-lg-push-4 {
        left: 33.33333333%;
    }
    .advanced-col-lg-push-3 {
        left: 25%;
    }
    .advanced-col-lg-push-2 {
        left: 16.66666667%;
    }
    .advanced-col-lg-push-1 {
        left: 8.33333333%;
    }
    .advanced-col-lg-push-0 {
        left: auto;
    }
    .advanced-col-lg-offset-12 {
        margin-left: 100%;
    }
    .advanced-col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .advanced-col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .advanced-col-lg-offset-9 {
        margin-left: 75%;
    }
    .advanced-col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .advanced-col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .advanced-col-lg-offset-6 {
        margin-left: 50%;
    }
    .advanced-col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .advanced-col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .advanced-col-lg-offset-3 {
        margin-left: 25%;
    }
    .advanced-col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .advanced-col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .advanced-col-lg-offset-0 {
        margin-left: 0%;
    }
}
.advanced-clearfix:before,
.advanced-clearfix:after,
.advanced-container:before,
.advanced-container:after,
.advanced-container-fluid:before,
.advanced-container-fluid:after,
.advanced-row:before,
.advanced-row:after {
    content: " ";
    display: table;
}
.advanced-clearfix:after,
.advanced-container:after,
.advanced-container-fluid:after,
.advanced-row:after {
    clear: both;
}
.advanced-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advanced-text-bold {
    font-weight: 600 !important;
}

.advanced-pull-right {
    float: right !important;
}
.advanced-pull-left {
    float: left !important;
}
.advanced-hide {
    display: none !important;
}
.advanced-show {
    display: block !important;
}
.advanced-invisible {
    visibility: hidden;
}
.advanced-text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.advanced-hidden {
    display: none !important;
}
.advanced-affix {
    position: fixed;
}

.advanced-m-b-10x {
    margin-bottom: 10px !important;
}

.ui-state-default span {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

.ui-state-default .ui-icon {
    background-image: url("images/ui-icons_888888_256x240.png");
}
.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-icon {
    height: 16px;
    width: 16px;
}
.ui-resizable-se {
    bottom: 1px;
    cursor: se-resize;
    height: 12px;
    right: 1px;
    width: 12px;
}
.ui-resizable-handle {
    display: block;
    font-size: 0.1px;
    position: absolute;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

.ui-state-default {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.placeholder {
    background-color: gray;
    height: 40px;
}

.sortable-placeholder {
    border: 1px dotted gray;
    box-sizing: border-box;
    float: left;
    height: 40px;
    z-index: 1000;
    min-height: 1px;
    margin-left: 15px;
    margin-right: 13px;
    margin-bottom: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;
    background-color: #fff;
    text-transform: capitalize;
}
.ui-resizable {
    position: relative;
}
.ui-resizable-helper { border: 1px dotted gray; }

#billing-container, #available-container {
    background-color: #f4f4f4;
    padding: 15px 15px 5px 15px;
    min-height: 40px;
    overflow: hidden;
}

#available-fields,#billing-fields {
    min-height: 40px;
}
.overlay{
    width: 100%;
    height: 100%;
    content: " ";
    overflow: hidden;
    position: absolute;
    margin: -15px;
    z-index: 1;
}

.undefault{
    text-shadow: 2px 2px 2px #000 !important;
}

