.idea
.project
nbproject
.cache
.DS_Store

app/etc/local.xml
media/*
!media/.htaccess

!media/customer
media/customer/*
!media/customer/.htaccess

!media/dhl
media/dhl/*
!media/dhl/logo.jpg

!media/downloadable
media/downloadable/*
!media/downloadable/.htaccess
var/*
!var/brute-force.ini
!var/.htaccess

shell/.htaccess

downloader/connect.cfg
