<?xml version="1.0"?>
<config>
    <modules>
        <Tm_AjaxCart>
            <version>0.1.0</version>
        </Tm_AjaxCart>
    </modules>
    <global>
        <models>
            <tm_ajaxcart>
                <class>Tm_AjaxCart_Model</class>
            </tm_ajaxcart>
        </models>
        <helpers>
            <tm_ajaxcart>
                <class>Tm_AjaxCart_Helper</class>
            </tm_ajaxcart>
        </helpers>
        <blocks>
            <tm_ajaxcart>
                <class>Tm_AjaxCart_Block</class>
            </tm_ajaxcart>
        </blocks>
    </global>
    <frontend>
        <routers>
            <tm_ajaxcart>
                <use>standard</use>
                <args>
                    <module>Tm_AjaxCart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </tm_ajaxcart>
        </routers>
        <layout>
            <updates>
                <tm_ajaxcart>
                    <file>tm_ajaxcart.xml</file>
                </tm_ajaxcart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcart translate="title" module="tm_ajaxcart">
                                            <title>Sample Section</title>
                                        </ajaxcart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ajaxcart>
            <general>
                <active>1</active>
            </general>
            <minicart>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <visible_products>2</visible_products>
            </minicart>
        </ajaxcart>
    </default>
</config>
