<?xml version="1.0"?>
<config>
    <modules>
        <Advanced_Sociallogin>
            <version>0.1.0</version>
        </Advanced_Sociallogin>
    </modules>
    <frontend>
        <secure_url>
            <sociallogin>/sociallogin</sociallogin>            
        </secure_url>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>Advanced_Sociallogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Advanced_Sociallogin>
                    <files>
                        <default>Advanced_Sociallogin.csv</default>
                    </files>
                </Advanced_Sociallogin>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <socialloginadmin>
                <use>admin</use>
                <args>
                    <module>Advanced_Sociallogin</module>
                    <frontName>socialloginadmin</frontName>
                </args>
            </socialloginadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Advanced_Sociallogin>
                    <files>
                        <default>Advanced_Sociallogin.csv</default>
                    </files>
                </Advanced_Sociallogin>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <sociallogin>
                <class>Advanced_Sociallogin_Model</class>
                <resourceModel>sociallogin_mysql4</resourceModel>
            </sociallogin>
            <sociallogin_mysql4>
                <class>Advanced_Sociallogin_Model_Mysql4</class>
                <entities>
                    <sociallogin>
                        <table>sociallogin</table>
                    </sociallogin>
                </entities>
            </sociallogin_mysql4>
        </models>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>Advanced_Sociallogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sociallogin_setup>
            <sociallogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sociallogin_write>
            <sociallogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sociallogin_read>
        </resources>
        <blocks>
            <sociallogin>
                <class>Advanced_Sociallogin_Block</class>
            </sociallogin>
        </blocks>
        <helpers>
            <sociallogin>
                <class>Advanced_Sociallogin_Helper</class>
            </sociallogin>
        </helpers>
    </global>
    <default>
        <sociallogin>
            <general>
                <enable>0</enable>
                <display_social_login>in-login-popup,under-login-link</display_social_login>
            </general>
            <facebook_login>
                <is_active>0</is_active>
                <sort_order>1</sort_order>
            </facebook_login>
                
            <googleplus_login>
                <is_active>0</is_active>
                <sort_order>2</sort_order>
            </googleplus_login>
                
            <yahoo_login>
                <is_active>0</is_active>
                <sort_order>3</sort_order>
            </yahoo_login>
                
            <twitter_login>
                <is_active>0</is_active>
                <sort_order>4</sort_order>
            </twitter_login>
                
            <linkedin_login>
                <is_active>0</is_active>
                <sort_order>5</sort_order>
            </linkedin_login>
        </sociallogin>
    </default>
</config>