<?xml version="1.0"?>
<config>
    <modules>
        <Stork_Shipcloud>
            <version>2.2.1</version>
        </Stork_Shipcloud>
    </modules>
    <global>
        <models>
            <shipcloud>
                <class>Stork_Shipcloud_Model</class>
                <resourceModel>shipcloud_mysql4</resourceModel>
            </shipcloud>
            <shipcloud_mysql4>
                <class>Stork_Shipcloud_Model_Mysql4</class>
                <entities>
                    <shipcloud>
                        <table>shipcloud</table>
                    </shipcloud>
                    <pickup>
                        <table>pickup</table>
                    </pickup>
                    <pakadoo>
                        <table>pakadoo</table>
                    </pakadoo>
                </entities>
            </shipcloud_mysql4>
        </models>
        <resources>
            <shipcloud_setup>
                <setup>
                    <module>Stork_Shipcloud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipcloud_setup>
            <pickup_setup>
                <setup>
                    <module>Stork_Shipcloud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pickup_setup>
            <pakadoo_setup>
                <setup>
                    <module>Stork_Shipcloud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pakadoo_setup>
            <shipcloud_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipcloud_write>
            <shipcloud_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipcloud_read>
        </resources>
        <blocks>
            <shipcloud>
                <class>Stork_Shipcloud_Block</class>
            </shipcloud>
      			<customer>
      				<rewrite>
      					<address_book>Stork_Shipcloud_Block_Customer_Address_Book</address_book>
      				</rewrite>
            </customer>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view>Stork_Shipcloud_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                    <sales_order_grid>Stork_Shipcloud_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order>Stork_Shipcloud_Block_Adminhtml_Sales_Order</sales_order>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <shipcloud>
                <class>Stork_Shipcloud_Helper</class>
            </shipcloud>
        </helpers>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <Stork_Shipcloud>
                        <class>Stork_Shipcloud_Model_Observer</class>
                        <method>replaceEmailTemplate</method>
                    </Stork_Shipcloud>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Stork_Shipcloud>
                    <files>
                        <default>Stork_Shipcloud.csv</default>
                    </files>
                </Stork_Shipcloud>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <shipcloud>
                <use>standard</use>
                <args>
                    <modules>
                        <Stork_Shipcloud after="Mage_Adminhtml">StorkShipcloud_Adminhtml</Stork_Shipcloud>
                    </modules>
                </args>
            </shipcloud>
			<customer>
				<args>
					<modules>
						<stork before="Mage_Customer">Stork_Shipcloud</stork>
					</modules>
				</args>
			</customer>
        </routers>
        <layout>
            <updates>
                <shipcloud>
                    <file>shipcloud.xml</file>
					<file>shipcloud/pakadoo.xml</file>
                </shipcloud>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stork_Shipcloud>
                    <files>
                        <default>translate.csv</default>
                    </files>
                </Stork_Shipcloud>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <shipcloud>
                <use>admin</use>
                <args>
                    <module>Stork_Shipcloud</module>
                    <frontName>shipcloud</frontName>
                </args>
            </shipcloud>
            <adminhtml>
                <args>
                    <modules>
                        <Stork_Shipcloud before="Mage_Adminhtml">Stork_Shipcloud_Adminhtml</Stork_Shipcloud>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shipcloud>
                                            <title>Shipcloud</title>
                                        </shipcloud>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <general>
                            <children>
                                <shipcloud translate="title">
                                    <title>Shipcloud</title>
                                    <sort_order>40</sort_order>
                                </shipcloud>
                            </children>
                        </general>
                        <Stork_Shipcloud>
                            <title>Shipcloud Module</title>
                            <sort_order>10</sort_order>
                        </Stork_Shipcloud>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <shipcloud>
                    <file>shipcloud.xml</file>
                </shipcloud>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <shipcloud_core_block_abstract_prepare_layout_before>
                        <class>shipcloud/observer</class>
                        <method>initShipcloud</method>
                    </shipcloud_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>

    <default>
        <shipcloud>
            <profile>
                <shipcloud_production_key></shipcloud_production_key>
                <shipcloud_sandbox_key>5705959483d02a49eab698e957b7dd24</shipcloud_sandbox_key>
                <interface_post_shipment_url>https://api.shipcloud.io/v1/shipments/</interface_post_shipment_url>
                <interface_get_shipment_url>https://api.shipcloud.io/v1/shipments/</interface_get_shipment_url>
                <interface_put_shipment_url>https://api.shipcloud.io/v1/shipments/</interface_put_shipment_url>
                <interface_delete_shipment_url>https://api.shipcloud.io/v1/shipments/</interface_delete_shipment_url>
                <interface_get_carrier_url>https://api.shipcloud.io/v1/carriers/</interface_get_carrier_url>
                <interface_post_rate_url>https://api.shipcloud.io/v1/rates</interface_post_rate_url>
                <interface_post_shipment_quotes_url>https://api.shipcloud.io/v1/shipment_quotes</interface_post_shipment_quotes_url>
                <testing>1</testing>
                <packagingdescription>Stork2016</packagingdescription>
                <addtrack>1</addtrack>
                <length>10</length>
                <width>20</width>
                <height>10</height>
                <insurrancevalue>0</insurrancevalue>
            </profile>
            <pcarrier_group>
                <use_one_if_empty>0</use_one_if_empty>
            </pcarrier_group>
        </shipcloud>
        <carriers>
            <sp_shipcloud_carrier>
                <active>1</active>
                <model>shipcloud/carrier</model>
                <title>Other</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </sp_shipcloud_carrier>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <update_shipcloud_gls>
                <schedule><cron_expr>0 10 * * *</cron_expr></schedule>
                <run><model>shipcloud/cron::updateShipcloudGls</model></run>
            </update_shipcloud_gls>
        </jobs>
    </crontab>
</config>
