<?xml version="1.0"?>
<config>
    <modules>
        <Advanced_Delivery>
            <version>0.1.0</version>
        </Advanced_Delivery>
    </modules>
    <frontend>
        <routers>
            <delivery>
                <use>standard</use>
                <args>
                    <module>Advanced_Delivery</module>
                    <frontName>delivery</frontName>
                </args>
            </delivery>
        </routers>
        <layout>
            <updates>
                <delivery>
                    <file>delivery.xml</file>
                </delivery>
            </updates>
        </layout>
        <translate>
            <modules>
                <Advanced_Delivery>
                    <files>
                        <default>Advanced_Delivery.csv</default>
                    </files>
                </Advanced_Delivery>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>           
            <adminhtml>
                <args>
                    <modules>
                        <deliveryadmin after="Mage_Adminhtml">Advanced_Delivery</deliveryadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <delivery>
                    <file>delivery.xml</file>
                </delivery>
            </updates>
        </layout>
        <translate>
            <modules>
                <Advanced_Delivery>
                    <files>
                        <default>Advanced_Delivery.csv</default>
                    </files>
                </Advanced_Delivery>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <delivery>
                <class>Advanced_Delivery_Model</class>
                <resourceModel>delivery_mysql4</resourceModel>
            </delivery>
            <delivery_mysql4>
                <class>Advanced_Delivery_Model_Mysql4</class>
                <entities>
                    <holiday>
                        <table>holiday</table>
                    </holiday>
                    <intervals>
                        <table>intervals</table>
                    </intervals>
                    <deliverydate>
                        <table>deliverydate</table>
                    </deliverydate>
                </entities>
            </delivery_mysql4>
        </models>
        <resources>
            <delivery_setup>
                <setup>
                    <module>Advanced_Delivery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </delivery_setup>
            <delivery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </delivery_write>
            <delivery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </delivery_read>
        </resources>
        <blocks>
            <delivery>
                <class>Advanced_Delivery_Block</class>
            </delivery>  
        </blocks>
        <helpers>
            <delivery>
                <class>Advanced_Delivery_Helper</class>
            </delivery>
        </helpers>
        <events>
            
            <sales_order_place_before>
                <observers>
                    <myaction_save_order>
                        <type>singleton</type>
                        <class>delivery/observer</class>
                        <method>saveShippingMethod</method>
                    </myaction_save_order>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <myaction_save_order>
                        <type>singleton</type>
                        <class>delivery/observer</class>
                        <method>_afterSave</method>
                    </myaction_save_order>
                </observers>
            </sales_order_place_after>
        </events>
        <template>
            <email>
                <delivery_general_email translate="label" module="delivery">
                    <label>Delivery Date Email Confirm</label>
                    <file>delivery/response.html</file>
                    <type>html</type>
                </delivery_general_email>
            </email>
        </template>
    </global>
    <default>
        <delivery>
            <general>
                <enabled>0</enabled> 
                <delivery_dayoff></delivery_dayoff>
                <email>delivery_general_email</email>
            </general>
        </delivery>
    </default>
</config>