<?xml version="1.0"?>
<config>
    <modules>
        <Advanced_Certificates>
            <version>0.1.0</version>
        </Advanced_Certificates>
    </modules>
    <admin>
        <routers>
            <certificates>
                <use>admin</use>
                <args>
                    <module>Advanced_Certificates</module>
                    <frontName>certificates</frontName>
                </args>
            </certificates>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Advanced_Certificates>
                            <title>Certificates Module</title>
                            <sort_order>10</sort_order>
                        </Advanced_Certificates>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <certificates module="certificates" translate="title">
                                            <title>www.AdvancedCheckout.com License Certificate</title>
                                            <sort_order>400</sort_order>
                                        </certificates>
                                    </children>
                                </config>
                            </children>
                        </system> 
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <certificates>
                    <file>certificates.xml</file>
                </certificates>
            </updates>
        </layout>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <mwcertificate_observer>
                        <type>singleton</type>
                        <class>Advanced_Certificates_Model_Observer</class>
                        <method>updateLicense</method>
                    </mwcertificate_observer>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>   
    <global>
        <models>
            <certificates>
                <class>Advanced_Certificates_Model</class>             
            </certificates>           
        </models>
        <resources>
            <certificates_setup>
                <setup>
                    <module>Advanced_Certificates</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </certificates_setup>
            <certificates_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </certificates_write>
            <certificates_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </certificates_read>
        </resources>
        <blocks>
            <certificates>
                <class>Advanced_Certificates_Block</class>
            </certificates>
        </blocks>
        <helpers>
            <certificates>
                <class>Advanced_Certificates_Helper</class>
            </certificates>
        </helpers>
    </global>
</config>