<?xml version="1.0"?>
<config>
    <modules>
        <Advanced_Cartreminder>
            <version>0.1.0</version>
        </Advanced_Cartreminder>
    </modules>
    <frontend>
        <routers>
            <cartreminder>
                <use>standard</use>
                <args>
                    <module>Advanced_Cartreminder</module>
                    <frontName>cartreminder</frontName>
                </args>
            </cartreminder>
        </routers>
    </frontend>  
    <admin>
        <routers>
            <cartreminderadmin>
                <use>admin</use>
                <args>
                    <module>Advanced_Cartreminder</module>
                    <frontName>cartreminderadmin</frontName>
                </args>
            </cartreminderadmin>
        </routers>
    </admin>
    <adminhtml>        		
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Advanced_Cartreminder>
                            <title>Cartreminder Module</title>
                            <sort_order>10</sort_order>
                        </Advanced_Cartreminder>
                    </children>
                </admin>
            </resources>
     </acl> 
      <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cartreminder>                                            
                                            <title>Cart Reminder</title>
                                            <sort_order>100</sort_order>									
                                        </cartreminder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        
        </acl> 
    </adminhtml>   
    <global>
        <events>
            <sales_quote_save_after>
                <observers>
                    <cart_reminder>
                        <class>cartreminder/event_observer</class>
                        <method>quoteSaveAfter</method>
                    </cart_reminder>
                </observers>
            </sales_quote_save_after>
            <sales_quote_delete_after>
                <observers>
                    <cart_reminder>
                        <class>cartreminder/event_observer</class>
                        <method>quoteDeleteAfter</method>
                    </cart_reminder>
                </observers>
            </sales_quote_delete_after>
        </events>
        <models>
            <cartreminder>
                <class>Advanced_Cartreminder_Model</class>
                <resourceModel>cartreminder_mysql4</resourceModel>
            </cartreminder>
            <cartreminder_mysql4>
                <class>Advanced_Cartreminder_Model_Mysql4</class>
                <entities>
                    <reminder>
                        <table>advanced_reminder</table>
                    </reminder>
                    <reminder_product>
                        <table>advanced_reminder_product</table>
                    </reminder_product>
                </entities>
            </cartreminder_mysql4>
        </models>
        <resources>
            <cartreminder_setup>
                <setup>
                    <module>Advanced_Cartreminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartreminder_setup>
            <cartreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartreminder_write>
            <cartreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartreminder_read>
        </resources>
        <blocks>
            <cartreminder>
                <class>Advanced_Cartreminder_Block</class>
            </cartreminder>
        </blocks>
        <helpers>
            <cartreminder>
                <class>Advanced_Cartreminder_Helper</class>
            </cartreminder>
        </helpers>
        <template>
            <email>              
                <cartreminder_reminder_reminderemail translate="label" module="cartreminder">
                    <label>Cart Reminder Email</label>
                    <file>cartreminder/reminder_email.html</file>
                    <type>html</type>
                </cartreminder_reminder_reminderemail>
            </email>
        </template> 
    </global>
    <default>
        <cartreminder>
            <reminder>
                <enable>0</enable>
                <number_of_reminder>1</number_of_reminder>
                <!--<auto_send_email>1</auto_send_email>-->
                <email_sent_after>1,0,0</email_sent_after>
                <customer_group>na</customer_group>           
                <sender_email>general</sender_email>
                <email_subject>You left some items in your cart</email_subject>
                <reminderemail>
                    <template>cartreminder_reminder_reminderemail</template>
                </reminderemail>    
                <redirectroute>checkout/cart/</redirectroute>            
            </reminder>
        </cartreminder>
    </default>    
    <crontab>
        <jobs>
            <advanced_cartreminder>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>cartreminder/event_observer::reminder</model></run>
            </advanced_cartreminder>
        </jobs>
    </crontab>
</config>