<?xml version="1.0"?>
<config>
    <modules>
        <Micropayment_Mcpay>
            <version>1.1.8</version>
        </Micropayment_Mcpay>
    </modules>
    <global>
        <models>
            <mcpay>
                <class>Micropayment_Mcpay_Model</class>
            </mcpay>
            <mcpayio>
                <class>Micropayment_Mcpay_Model</class>
                <resourceModel>mcpayio_payio</resourceModel>
            </mcpayio>
            <mcpayio_payio>
                <class>Micropayment_Mcpay_Model_Resource</class>
                <entities>
                    <payio>
                        <table>mcpay_paydata</table>
                    </payio>
                </entities>
            </mcpayio_payio>
        </models>
        <helpers>
            <mcpay>
                <class>Micropayment_Mcpay_Helper</class>
            </mcpay>
        </helpers>
        <blocks>
            <mcpay>
                <class>Micropayment_Mcpay_Block</class>
            </mcpay>
        </blocks>

        <resources>
            <mcpay_setup>
                <setup>
                    <module>Micropayment_Mcpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mcpay_setup>
            <mcpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mcpay_write>
            <mcpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mcpay_read>
        </resources>

    </global>
    <adminhtml>

        <translate>
            <modules>
                <Micropayment_Mcpay>
                    <files>
                        <default>Micropayment_Admin.csv</default>
                    </files>
                </Micropayment_Mcpay>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <micropayment>
                                            <title>Micropayment Section</title>
                                        </micropayment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

    </adminhtml>
    <default>
        <micropayment>
            <settings>
                <project_id></project_id>
                <accesskey></accesskey>
                <testmode>1</testmode>
                <suffix>micropayment.de</suffix>
                <theme>x1</theme>
                <gfx></gfx>
                <bgcolor>#ffffff</bgcolor>
                <bggfx></bggfx>
                <refundmode>CREDITMEMO</refundmode>
                <debugmode>0</debugmode>
                <debuglog></debuglog>
                <payformid>co-payment-form</payformid>
                <sepaformid>dt_method_mcpay_sepa</sepaformid>
                <ccardformid>dt_method_mcpay_ccard</ccardformid>

                <email_booking></email_booking>
                <email_refund></email_refund>
                <email_reversal></email_reversal>
                <email_storno></email_storno>
                <email_expire></email_expire>
                <email_payin></email_payin>
                <email_create></email_create>
                <email_closed></email_closed>
                <email_change></email_change>
                <email_backpay></email_backpay>
                <email_quit></email_quit>
            </settings>
        </micropayment>
        <payment>

            <mcpay_ccard>
                <model>mcpay/ccard</model>
                <title>Creditcard</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=cc&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </mcpay_ccard>

            <mcpay_sepa>
                <model>mcpay/sepa</model>
                <title>Direct Debit</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=dbt&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <emailtextde><![CDATA[
Unsere Forderung in Höhe von {$amount} {$currency} ziehen wir mit der SEPA-Lastschrift zum Mandat Nr. {$mandateRef}
zu der Gläubiger-Identifikationsnummer {$creditorId} von Ihrem Konto IBAN {$iban} bei {$bankname} {$bic}
zum Fälligkeitstag {$payDateDE}{$payRecurSt} ein. Wir bitten Sie für Kontodeckung zu sorgen.
                ]]></emailtextde>
                <emailtexten><![CDATA[
Please confirm the direct debit authorization.
We will deduct the payment amounting to {$amount} {$currency} using SEPA direct debit on the day it is due {$payDateEN}.
Please ensure that your account has sufficient funds.
                ]]></emailtexten>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
            </mcpay_sepa>

            <mcpay_prepay>
                <model>mcpay/prepay</model>
                <title>Prepayment</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=pp&show=type-o.1]]></logo>
                <active>1</active>
                <expiredays>21</expiredays>
                <paytext>Your order {$orderid} {$projectid}</paytext>
                <emailtextde><![CDATA[
Sehr geehrte Kundin, sehr geehrter Kunde,<br><br>
vielen Dank für Ihre Bestellung vom {$orderDateDE}. micropayment™ übernimmt für uns die Zahlungsabwicklung.<br><br>
Bitte überweisen Sie {$amount} {$currency} bis zum {$dueDateDE} auf die folgende Kontoverbindung, um den Kauf abzuschließen.<br><br>
Kontoinhaber: {$accountHolder}<br>
IBAN: {$iban}<br>
BIC: {$bic}<br>
Bank: {$bankName}<br>
Gesamtbetrag: {$amount} {$currency}<br>
Verwendungszweck: {$payText}
                ]]></emailtextde>
                <emailtexten><![CDATA[
Dear Customer,<br><br>
Thank you for purchase on {$orderDateEN}. Payment processing for us is provided by micropayment™.<br><br>
Please make transfer in the amount of {$amount} {$currency} by {$dueDateEN} in order to complete your purchase.
Payment should be made to the following bank account.<br><br>
Beneficiary: {$accountHolder}<br>
IBAN: {$iban}<br>
BIC: {$bic}<br>
Bank: {$bankName}<br>
Total amount: {$amount} {$currency}<br>
Payment purpose: {$payText}
                ]]></emailtexten>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <pending_status>pending</pending_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
            </mcpay_prepay>

            <mcpay_sofort>
                <model>mcpay/sofort</model>
                <title>Sofort</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=klarna-sofort&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>4</sort_order>
            </mcpay_sofort>

            <mcpay_paypal>
                <model>mcpay/paypal</model>
                <title>PayPal</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=ppl&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>5</sort_order>
            </mcpay_paypal>

            <mcpay_paysafecard>
                <model>mcpay/paysafecard</model>
                <title>paysafecard</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=psc&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>6</sort_order>
            </mcpay_paysafecard>

            <mcpay_call2pay>
                <model>mcpay/call2pay</model>
                <title>Call 2 Pay</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=c2p&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>7</sort_order>
            </mcpay_call2pay>

            <mcpay_handypay>
                <model>mcpay/handypay</model>
                <title>Handy Pay</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=hp&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>8</sort_order>
            </mcpay_handypay>

            <mcpay_paydirekt>
                <model>mcpay/paydirekt</model>
                <title>paydirekt</title>
                <logo><![CDATA[http://www.micropayment.de/resources/?what=img&group=pdk&show=type-o.1]]></logo>
                <active>1</active>
                <paytext>Your order {$orderid}</paytext>
                <invoicemode>AUTOINVOICE</invoicemode>
                <payment_action>sale</payment_action>
                <order_status>pending</order_status>
                <payment_status>processing</payment_status>
                <error_status>holded</error_status>
                <cancel_status>canceled</cancel_status>
                <allowspecific>0</allowspecific>
                <sort_order>9</sort_order>
            </mcpay_paydirekt>

        </payment>
    </default>
    <frontend>

        <translate>
            <modules>
            <Micropayment_Mcpay>
                <files>
                <default>Micropayment_Frontend.csv</default>
                </files>
            </Micropayment_Mcpay>
            </modules>
        </translate>

        <routers>
            <mcpay>
                <use>standard</use>
                <args>
                    <module>Micropayment_Mcpay</module>
                    <frontName>micropayment</frontName>
                </args>
            </mcpay>
        </routers>

        <layout>
            <updates>
                <micropayment>
                    <file>micropayment.xml</file>
                </micropayment>
            </updates>
        </layout>
    </frontend>
</config>
